[submodule "mods/nyancat"]
	path = mods/nyancat
	url = https://github.com/minetest-mods/nyancat
[submodule "mods/mesecons"]
	path = mods/mesecons
	url = https://github.com/minetest-mods/mesecons
[submodule "mods/pipeworks"]
	path = mods/pipeworks
	url = https://github.com/mt-mods/pipeworks
[submodule "mods/moreores"]
	path = mods/moreores
	url = https://github.com/minetest-mods/moreores
[submodule "mods/basic_materials"]
	path = mods/basic_materials
	url = https://github.com/mt-mods/basic_materials
[submodule "mods/technic"]
	path = mods/technic
	url = https://github.com/mt-mods/technic
[submodule "item_drop"]
	path = mods/item_drop
	url = https://github.com/minetest-mods/item_drop
[submodule "mods/moremesecons"]
	path = mods/moremesecons
	url = https://github.com/minetest-mods/moremesecons
[submodule "mods/digicontrol"]
	path = mods/digicontrol
	url = https://github.com/OgelGames/digicontrol
[submodule "mods/digistuff"]
	path = mods/digistuff
	url = https://cheapiesystems.com/git/digistuff
[submodule "mods/digiscreen"]
	path = mods/digiscreen
	url = https://cheapiesystems.com/git/digiscreen
[submodule "mods/digilines"]
	path = mods/digilines
	url = https://github.com/minetest-mods/digilines
[submodule "mods/rgblightstone"]
	path = mods/rgblightstone
	url = https://cheapiesystems.com/git/rgblightstone/
[submodule "mods/jumpdrive"]
	path = mods/jumpdrive
	url = https://github.com/mt-mods/jumpdrive
[submodule "mods/powerbanks"]
	path = mods/powerbanks
	url = https://github.com/OgelGames/powerbanks
[submodule "mods/transporter"]
	path = mods/transporter
	url = https://github.com/mt-historical/transporter
[submodule "mods/digtron"]
	path = mods/digtron
	url = https://github.com/minetest-mods/digtron
[submodule "mods/luacmd"]
	path = mods/luacmd
	url = https://github.com/prestidigitator/minetest-mod-luacmd
[submodule "mods/laptop"]
	path = mods/laptop
	url = https://github.com/Gerold55/laptop
[submodule "mods/cottages"]
	path = mods/cottages
	url = https://github.com/Sokomine/cottages
[submodule "mods/darkage"]
	path = mods/darkage
	url = https://github.com/adrido/darkage
[submodule "mods/more_chests"]
	path = mods/more_chests
	url = https://github.com/minetest-mods/more_chests
[submodule "mods/waterworks"]
	path = mods/waterworks
	url = https://github.com/FaceDeer/waterworks
[submodule "mods/minimap_radar"]
	path = mods/minimap_radar
	url = https://github.com/OgelGames/minimap_radar
[submodule "mods/advtrains"]
	path = mods/advtrains
	url = https://git.bananach.space/advtrains.git
[submodule "mods/basic_trains"]
	path = mods/basic_trains
	url = http://git.bananach.space/basic_trains.git/
[submodule "mods/drawers"]
	path = mods/drawers
	url = https://github.com/minetest-mods/drawers
[submodule "mods/hangglider"]
	path = mods/hangglider
	url = https://notabug.org/Piezo_/minetest-hangglider
[submodule "mods/biofuel"]
	path = mods/biofuel
	url = https://github.com/Lokrates/Biofuel
[submodule "mods/helicopter"]
	path = mods/helicopter
	url = https://github.com/APercy/helicopter
[submodule "mods/bell"]
	path = mods/bell
	url = https://github.com/Sokomine/bell
[submodule "hud_analog_clock"]
	path = mods/hud_analog_clock
	url = https://github.com/APercy/hud_analog_clock
[submodule "mods/led_marquee"]
	path = mods/led_marquee
	url = https://github.com/mt-mods/led_marquee
[submodule "mods/nixie_tubes"]
	path = mods/nixie_tubes
	url = https://github.com/mt-mods/nixie_tubes
[submodule "mods/hopper"]
	path = mods/hopper
	url = https://notabug.org/TenPlus1/hopper
[submodule "mods/multidimensions"]
	path = mods/multidimensions
	url = https://github.com/AiTechEye/multidimensions
[submodule "mods/rocket"]
	path = mods/rocket
	url = https://git.minetest.land/Red_King_Cyclops/rocket/
[submodule "mods/vacuum"]
	path = mods/vacuum
	url = https://github.com/mt-mods/vacuum
[submodule "mods/spacesuit"]
	path = mods/spacesuit
	url = https://github.com/mt-mods/spacesuit
[submodule "mods/space_travel"]
	path = mods/space_travel
	url = https://git.minetest.land/Red_King_Cyclops/space_travel
[submodule "mods/scifi_nodes"]
	path = mods/scifi_nodes
	url = https://github.com/D00Med/scifi_nodes
[submodule "mods/radiant_damage"]
	path = mods/radiant_damage
	url = https://github.com/minetest-mods/radiant_damage
[submodule "mods/3d_armor"]
	path = mods/3d_armor
	url = https://github.com/minetest-mods/3d_armor
[submodule "mods/caverealms_lite"]
	path = mods/caverealms_lite
	url = https://github.com/Ezhh/caverealms_lite
[submodule "mods/unified_inventory"]
	path = mods/unified_inventory
	url = https://github.com/minetest-mods/unified_inventory
[submodule "mods/crafting_bench"]
	path = mods/crafting_bench
	url = https://github.com/minetest-mods/crafting_bench
[submodule "mods/technic_armor"]
	path = mods/technic_armor
	url = https://github.com/mt-mods/technic_armor
[submodule "mods/sounding_line"]
	path = mods/sounding_line
	url = https://github.com/minetest-mods/sounding_line
[submodule "mods/magma_conduits"]
	path = mods/magma_conduits
	url = https://github.com/minetest-mods/magma_conduits
[submodule "mods/death_compass"]
	path = mods/death_compass
	url = https://github.com/minetest-mods/death_compass
[submodule "mods/dynamic_forceload"]
	path = mods/dynamic_forceload
	url = https://github.com/FaceDeer/dynamic_forceload
[submodule "mods/ropes"]
	path = mods/ropes
	url = https://github.com/minetest-mods/ropes
[submodule "mods/compost"]
	path = mods/compost
	url = https://github.com/minetest-mods/compost
[submodule "mods/painting"]
	path = mods/painting
	url = https://github.com/MistUnky/painting
[submodule "mods/infinite_chest"]
	path = mods/infinite_chest
	url = https://github.com/MistUnky/infinite_chest
[submodule "mods/prestibags"]
	path = mods/prestibags
	url = https://github.com/prestidigitator/minetest-mod-prestibags
[submodule "mods/jumping"]
	path = mods/jumping
	url = https://github.com/minetest-mods/jumping
[submodule "mods/trash_can"]
	path = mods/trash_can
	url = https://github.com/minetest-mods/trash_can
[submodule "mods/workbench"]
	path = mods/workbench
	url = https://github.com/minetest-mods/workbench
[submodule "mods/x_enchanting"]
	path = mods/x_enchanting
	url = https://bitbucket.org/minetest_gamers/x_enchanting
